
      <div class="become-member fluid-container">
      
      <div class="jumbotron section first-hero" id="first-hero-become">
        <h1>Become A Member</h1>
        <h3>For prospective riders, drivers and volunteers</h3>
      </div><!--first-hero-->
      
      <div class="jumbotron section container intro" style="background: #c7dfe4">
        <h3>Join by completing a member application! Let the Independent Transportation Network® help you continue living an independent, connected life on your own terms.</h3>
        <h4 style="margin-top:25px">Who can become a member?</h4>
          <div class="badge badge-secondary">Prospective Riders</div>
          <div class="badge badge-secondary">Prospective Driders</div>
          <div class="badge badge-secondary">Prospective Volunteers</div>
      </div><!--jumbo-->
      
      <!-- <hr class="featurette-divider"> -->
      
      <div class="jumbotron section itn-green-bg">
        <div class="container-fluid inner-white-bg">
          <div class="row">
            <div class="itn-title col-sm-4">
              <h2>Ways to become a member</h2>
              <hr align="left" width="35%">
              <p>There are 2 ways to join ITN<em>Lanier</em>:</p>
            </div><!--itn-title-->
          </div><!--row-->
        
        <div class="membership-btns row ta-center">
          <a class="btn btn-primary btn-lg" href="member-app.html" role="button">Online Member Application</a>
          <a class="btn btn-primary btn-lg" 
             href="http://itnlanier.org/sites/default/files/rptMemberRiderApplication.pdf?v=1.2" 
             role="button">Download PDF Member Application</a>
        </div>
        <div class="row ta-center">
          <p>Before you complete your application, make sure to review the instructions and rates</p>
          <a class="btn btn-primary btn-lg"
            style="background: #fc6d6d"
            href="http://itnlanier.org/sites/default/files/rptMembershipApplicationInstructions.pdf?v=1.3" 
            role="button">Instructions and rates</a>
        </div>
        </div><!--container-->  
      </div><!--jumbo-->
      
      
      
      <div class="jumbotron section ride-friend">
        <div class="container-fluid row">
          <div class="col-sm-8" style="background: rgba(255,255,255,0.5)">
            <h2>Since you don't pay cash and we only use private automobiles, riding with ITN is more like riding with a friend than taking a taxi.</h2>
          </div>
        </div><!--container-->  
      </div><!--jumbo-->
      
      
      
      <div class="jumbotron section itn-green-bg">
        <div class="container-fluid inner-white-bg">
          
          <div class="row">
            <div class="itn-title  col-sm-4">
              <h2>Quick Facts</h2>
              <hr align="left" width="35%">
              <p>Some quick facts about the service:</p>
            </div><!--itn-title-->
            </div><!--row-->
            
            <div class="service-features center-85">
            <div class="row">
              <div class="col-sm-4">
                <div class="icon-wrap icon-wrap-circle"><i class="fa fa-usd">4</i></div>
                <div class="icon-legend">
                  The pick up charge is $4
                </div>
              </div>
              <div class="col-sm-4">
                <div class="icon-wrap icon-wrap-circle" style="background: #fc6d6d"><i class="fa fa-usd">1-2</i></div>
                <div class="icon-legend">
                  The mileage charge is:<br> 
                  -$1.00 per mile with notice by 4:00pm<br>
                  -$2.00 per mile for same day service.
                </div>
              </div>
              <div class="col-sm-4">
                <div class="icon-wrap icon-wrap-circle"><i class="fa fa-usd">12</i></div>
                <div class="icon-legend">
                  The average charge is about $12 for a one way trip
                </div>
              </div>
            </div><!--row-->
              
              <div class="row">
                <div class="col-sm-4">
                  <div class="icon-wrap icon-wrap-circle" style="background: #fc6d6d"><i class="fa fa-id-card"></i></div>
                  <div class="icon-legend">
                    You keep a prepaid Personal Transportation Account™ based on estimated usage.<br>
                    <a href="add-pta-credit.html">Add Credit</a>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="icon-wrap icon-wrap-circle"><i class="fa fa-history"></i></div>
                  <div class="icon-legend">
                    Plan in advance or ride on demand
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="icon-wrap icon-wrap-circle" style="background: #fc6d6d"><i class="fa fa-users"></i></div>
                  <div class="icon-legend">
                    Ride alone or share a ride
                  </div>
                </div>
              </div><!--row-->
                
                <div class="row">
                  <div class="col-sm-4">
                    <div class="icon-wrap icon-wrap-circle"><i class="fa fa-hourglass-start"></i></div>
                    <div class="icon-legend">
                      Ride by the hour or by the mile
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="icon-wrap icon-wrap-circle" style="background: #fc6d6d"><i class="fa fa-car"></i></div>
                    <div class="icon-legend">
                      You can try the service while you still own and operate a car
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="icon-wrap icon-wrap-circle"><i class="fa fa-trophy"></i></div>
                    <div class="icon-legend">
                      The Road Scholarship™ program is available for low-income riders. <br>
                      Please <a href="contact.html">contact us</a> and we will mail you a simple application form.
                    </div>
                  </div>
                </div><!--row-->
          
          </div><!--service features-->
          
        </div><!--container-->  
      </div><!--jumbo-->
      
      
      <div class="jumbotron section" style="background:#e05944;">
          <h3 class="ta-center">
            <a href="member-programs.html" style="color:white!important">
              Check out the ITN's unique programs only available to paying members
            </a>
          </h3>
      </div><!--jumbo-->
      
    </div><!--become member-->