
    <div class="corporate">
      <div class="jumbotron section .first-hero" id="first-hero-corporate">
        <h1>Corporate Partnership</h1>
      </div><!--first-hero-->
      
      <div class="jumbotron section corp-slogan" style="background:White">
        <div class="container">
          <h2>Business partnerships help keep seniors coming to your doors, once they have given up the keys.</h2>
        </div>
      </div>
      
      <div class="jumbotron section description" style="background:#afcace">
        <div class="container">
          <div class="col-sm-9" style="z-index:10">
            <p>
            Corporate partnerships are crucial for helping ITN<em>Lanier</em> continue our work ensuring seniors have access to adequate dignified transportation.<br>
            Our sponsors make our services possible. 
            </p>
          </div>
          <div class="col-sm-3 corp-icon">
            <img src="../assets/images/itn-people-images/corporate-partners.jpg" alt="image of hands shaking"/>
          </div>
        </div><!--container-->
      </div><!--section-->
      
      <div class="jumbotron section regeneron">
        <div class="container section-content">
          <h2>Regeneron and ITN<em>America</em></h2>
          <div class="row">
            <div class="col-sm-9 reg-text">
              ITN<em>Lanier</em> is part of the nationwide network of ITN<em>America</em> affiliates.<br>
              ITN<em>America</em> is proud to recognize Regeneron Pharmaceuticals, Inc. as a corporate sponsor committed to helping raise awareness of the challenges associated with vision impairment, low vision, senior mobility issues and the shortage of locally-available transportation options for seniors. As the National Pharmaceutical Eye-care Services Sponsor for ITN<em>America</em> and our affiliate communities, Regeneron Pharmaceuticals is proud to support ITN's mission to promote safe senior mobility. 
            </div>
            <div class="col-sm-3 reg-img">
              <img src="../assets/images/regeneron_logo.jpg" alt="regeneron logo" style="width: 300px"/>
            </div>
          </div><!--row-->
        </div><!--container/section-content-->
      </div><!--regeneron-->
      
      <div class="jumbotron section itn-lightgreen-bg" style="margin-bottom:25px">
        <div class="container">
          <p style="text-align:center">If your company is interested in joining us in this important work, please contact us using the form below.</p>
          
          <div class="form-area" style="width:70%;margin:auto;margin-top:50px">  
                <form action="mailto:info@itnlanier.org" method="post" enctype="text/plain">
              <br style="clear:both">
                <h3 style="margin-bottom: 25px; text-align: center; color:#fc6d6d">Contact us</h3>
                  <div class="form-group">
                  <input type="text" class="form-control" id="name" name="name" placeholder="Name" required>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" id="email" name="email" placeholder="Email" required>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" id="mobile" name="mobile" placeholder="Mobile Number" required>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject" required>
                </div>
                <div class="form-group">
                <textarea class="form-control" type="textarea" id="message" placeholder="Message" maxlength="140" rows="7"></textarea>
                </div>
              <input type="submit" id="submit" class="btn btn-primary pull-right itn-green-bg" value="Send" style="margin-left:2%">
              <input type="reset" class="btn btn-primary pull-right itn-green-bg" value="Reset">
              
              </form>
          </div><!--form-area-->
          
        </div>
      </div>
      
    </div><!--corporate-->
