
    <div class="faces">
      
      <div class="jumbotron section first-hero" id="first-hero-faces">
        <h1>Faces of our Members</h1>
      </div>
      
      <div class="container-wrapper">
      <div class="jumbotron section container">
        <h2 class="title">Meet our riders:</h2>
        <hr align="center">
        
        <h3>Joe Terrell</h3>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/CFCnER106jo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        
        <h3>Dr. Henry Jennings</h3>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/pbeWyZdX0lQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      
        <p class="end-note">For more videos, check out <a href="https://www.youtube.com/channel/UCioGq9qbBAxORkqZE4xP_2Q/videos">our YouTube channel.</a> </p>
      </div><!--container-->
      
    </div><!--container-wrapper-->
    </div><!--faces-->
    