
    <div class="family">
      
      <div class="jumbotron section first-hero" id="first-hero-family">
        <h1>Family Involvement</h1>
      </div>
      
      <div class="container-wrapper">
        
        <div class="jumbotron section container">
          
          <div class="row title">
            <div class="col-sm-4">
              <h2>How can family members help?</h2>
              <hr align="left" width="35%">
            </div>
          </div>
            
          <div class="text-carousel carousel slide" id="text-carousel1" data-ride="carousel">
            <img id="member-help-img2" src="../assets/images/itn-people-images/help-dude2.jpg" class="col-sm-offset-3 col-sm-9" style=""/>
              <!-- Wrapper for slides -->
              <div class="row">
                  <div class="col-xs-offset-3 col-xs-6">
                      <div class="carousel-inner">
                        
                          <div class="item active">
                              <div class="carousel-content">
                                  <div>
                                    <p>With ITN, adult children can help manage their parents' Personal Transportation Account™ by having the monthly statements sent directly to them. They can also purchase gift certificates to help pay for rides. <p>
                                  </div>
                              </div>
                          </div>
                          <div class="item">
                              <div class="carousel-content">
                                  <div>
                                    <p>Adult children who live in a community with an ITN affiliate can also earn transportation credits by volunteering as drivers. Through the nationwide ITN network their parents can then use those credits to pay for rides, even thousands of miles away.</p>
                                  </div>
                              </div>
                          </div>

                          <div class="item">
                              <div class="carousel-content">
                                  <div>
                                    <p>Family members can also become board members join as non-rider members, donate a car, make a donation or help with fundraising. ITN<em>Lanier</em> is a community nonprofit, there are numerous ways to get involved.</p>
                                  </div>
                              </div>
                          </div>
                          <div class="item">
                              <div class="carousel-content">
                                  <div>
                                    <p>Adult children can help manage their parents' Personal Transportation Account™ by having the monthly statements sent directly to them. There is also a Gift Certificate program to help pay for rides. It's a great idea for Mother's Day, Father's Day, birthdays, holidays, and other special occasions.</p>
                                  </div>
                              </div>
                          </div>
                          <div class="item">
                              <div class="carousel-content">
                                  <div>
                                    <p>Adult children who live in any community with an ITN affiliate can earn transportation credits by volunteering to drive seniors. Because ITN<em>America</em> is a nationally affiliated system, their parents may use those credits to pay for rides in the community where they live, even if they are located thousands of miles away.</p>
                                  </div>
                              </div>
                          </div>
                          <div class="item">
                              <div class="carousel-content">
                                  <div>                          
                                      <p>Family members may also support The Independent Transportation Network® by joining as dues paying members (even if you don't qualify to ride), donating a car, making a donation, or helping with community fundraisers.</p>
                                  </div>
                              </div>
                          </div><!--item-->
                          
                      </div><!--carousel-inner-->
                  </div><!--col x  -->
              </div><!--row-->
              
              <!-- Controls --> 
              <a class="left carousel-control" href="#text-carousel1" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
              </a>
              <a class="right carousel-control" href="#text-carousel1" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
              </a>

          </div><!--carousel-->
        </div><!--jumbo-->
          
          
        </div><!--jumbo container-->
        
        <div class="jumbotron section container" style="margin-bottom: -14px !Important;margin-top: -11px !Important;">
          <div class="row title">
            <div class="col-sm-4">
              <h2>Gift Certificates</h2>
              <hr align="left" width="35%">
            </div>
          </div>
            <div class="text-carousel carousel slide" id="text-carousel2" data-ride="carousel">
              <img id="gift-cert-img2" src="../assets/images/backgrounds/gift-certificate2.png" class="col-sm-offset-2 col-sm-10"/>
                <!-- Wrapper for slides -->
                <div class="row">
                    <div class="col-xs-offset-3 col-xs-6">
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="carousel-content">
                                    <div>
                                      <p>ITN<em>Lanier</em> gift certificates are a great way to encourage safe, alternative transportation for loved ones. Consider giving a gift of the cost of membership and their first ride — our trained drivers will transport your loved ones with special care, opening doors, carrying packages and offering friendly assistance as needed.<p>

                                      </p>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="carousel-content">
                                    <div>
                                      <p>Celebrate Mother's Day, birthdays and special holidays with the gift of mobility delivered in a beautiful card from ITN<em>Lanier</em>. Please <a ui-sref="contact">contact us</a> to order.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="carousel-content">
                                    <div>
                                      <p>If you are trying to encourage safe, alternative transportation for your loved one, consider a gift certificate to pay for membership and their first ride. Our trained drivers will transport your loved one with special care -- opening doors, carrying packages, and offering friendly assistance as needed.</p>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <!-- Controls --> <a class="left carousel-control" href="#text-carousel2" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
              </a>
             <a class="right carousel-control" href="#text-carousel2" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
              </a>

            </div>
        </div><!--jumbo container-->
        
      </div><!--container-wrapper-->
      
    </div><!--family-->