<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>ITN Lanier - new</title>
  <meta name="description" content="">
  <meta name="Sam Guergenenov" content="">
  
  <link rel="stylesheet" href="../node_modules/font-awesome/css/font-awesome.min.css">
  <script src="../node_modules/jquery/dist/jquery.min.js"></script>
  <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
  
  <link rel="stylesheet" href="../css/index.css">
</head>



<body>
  <div class="wrapper">
  
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" style="margin-left:-50%">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="../index.html"><img src="../images/custom_logo.png"/></a>
        </div>


        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      
          <ul class="nav navbar-nav navbar-right">
            
            <li>
              <a href="../index.html"><span class="glyphicon glyphicon-home"></span> 
                HOME
              </a>
            </li>
            
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-info-sign"></span> 
                ABOUT US
                <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="services.html">What We Do</a></li>
                <li><a href="organization.html">Our Organization</a></li>
                <li><a href="faces.html">Faces of our Members</a></li>
                <li><a href="faq.html">FAQ</a></li>
                <li><a href="rider-stories.html">Unique Rider Stories</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="http://blog.itnamerica.org/">Blog</a></li>
              </ul>
            </li>
            
            <li>
              <a href="news.html"><i class="fa fa-newspaper-o"></i> 
                NEWS
              </a>
            </li>
            <li>
              <a href="contact.html"><span class="glyphicon glyphicon-envelope"></span> 
                CONTACT
              </a>
            </li>
              
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-car"></i>
                RIDE WITH US
                <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="member-app.html">Online Member Application</a></li>
                <li><a href="volunteer-to-drive.html">Volunteer To Drive</a></li>
                <li><a href="non-rider-member.html">Non-Rider Member Application</a></li>
                <li><a href="family.html">Family Involvment</a></li>
                <li><a href="member-programs.html">Member Programs</a></li>
                <li><a href="pay-online.html">Pay Online</a></li>
              </ul>
            </li>
            
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-heart"></span> 
                WAYS TO GIVE
                <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="donate.html">Donate</a></li>
                <li><a href="corporate.html">Corporate Partnership</a></li>
                <li><a href="community.html">Community Support</a></li>
              </ul>
            </li>
            
            <li>
              <a href="pay-online.html"><span class="glyphicon glyphicon-usd"></span> 
                MAKE A PAYMENT
              </a>
            </li>
          
            
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

  <div class="main">
    <div class="family">
      
      <div class="jumbotron section first-hero" id="first-hero-family">
        <h1>Family Involvement</h1>
      </div>
      
      <div class="container-wrapper">
        
        <div class="jumbotron section container">
          
          <div class="row title">
            <div class="col-sm-4">
              <h2>How can family members help?</h2>
              <hr align="left" width="35%">
            </div>
            
          <div class="text-carousel carousel slide" id="text-carousel1" data-ride="carousel">
            <img id="member-help-img2" src="../images/itn-people-images/help-dude2.jpg"/>
              <!-- Wrapper for slides -->
              <div class="row">
                  <div class="col-xs-offset-3 col-xs-6">
                      <div class="carousel-inner">
                          <div class="item active">
                              <div class="carousel-content">
                                  <div>
                                    <p>Family members care deeply when a parent, grandparent or spouse struggles with safe driving.</p>

                                    <p>With ITN's door-through-door, arm-through-arm service, older family members are as safe as if their own children were there to open the door and carry their packages.</p>
                                  </div>
                              </div>
                          </div>
                          <div class="item">
                              <div class="carousel-content">
                                  <div>
                                    <p>Adult children can help manage their parents' Personal Transportation Account™ by having the monthly statements sent directly to them. There is also a Gift Certificate program to help pay for rides. It's a great idea for Mother's Day, Father's Day, birthdays, holidays, and other special occasions.</p>
                                  </div>
                              </div>
                          </div>
                          <div class="item">
                              <div class="carousel-content">
                                  <div>
                                    <p>Adult children who live in any community with an ITN affiliate can earn transportation credits by volunteering to drive seniors. Because ITNAmerica is a nationally affiliated system, their parents may use those credits to pay for rides in the community where they live, even if they are located thousands of miles away.</p>
                                  </div>
                              </div>
                          </div>
                          <div class="item">
                              <div class="carousel-content">
                                  <div>                          
                                      <p>Family members may also support The Independent Transportation Network® by joining as dues paying members (even if you don't qualify to ride), donating a car, making a donation, or helping with community fundraisers.</p>
                                  </div>
                              </div>
                          </div>
                          
                      </div>
                  </div>
              </div>
              <!-- Controls --> <a class="left carousel-control" href="#text-carousel1" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
           <a class="right carousel-control" href="#text-carousel1" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
            </a>

          </div><!--carousel-->
          </div>
          
          
        </div><!--jumbo container-->
        
        <div class="jumbotron section container" style="margin-bottom: -14px !Important;margin-top: -11px !Important;">
          <div class="row title">
            <div class="col-sm-4">
              <h2>Gift Certificates</h2>
              <hr align="left" width="35%">
            </div>
            <div class="text-carousel carousel slide" id="text-carousel2" data-ride="carousel">
              <img id="gift-cert-img2" src="../images/backgrounds/gift-certificate2.png"/>
                <!-- Wrapper for slides -->
                <div class="row">
                    <div class="col-xs-offset-3 col-xs-6">
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="carousel-content">
                                    <div>
                                      <p>A gift certificate for transportation is an original gift that can be used to take fun trips or necessary ones. They are a great way to help your parent or friend fund their Personal Transportation Account™. Celebrate Mother's Day, birthdays, and special holidays with a gift certificate in any amount, sent in a beautiful card by ITNLanier. Call or e-mail to order.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="carousel-content">
                                    <div>
                                      <p>If you are trying to encourage safe, alternative transportation for your loved one, consider a gift certificate to pay for membership and their first ride. Our trained drivers will transport your loved one with special care -- opening doors, carrying packages, and offering friendly assistance as needed.</p>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <!-- Controls --> <a class="left carousel-control" href="#text-carousel2" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
              </a>
             <a class="right carousel-control" href="#text-carousel2" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
              </a>

            </div>
        </div><!--jumbo container-->
        
      </div><!--container-wrapper-->
      
    </div><!--family-->
    
  </div><!--MAIN-->
  
  <div id="footer">
    <div class="container">
        <div class="col-sm-4">
          <div class="footer-title">ITN GATEWAY</div>
          <hr>
          <ul>
            <li>Log In</li>
            <li>Privacy Policy</li>
            <li>Site Map</li>
            <li>Contact</li>
          </ul>
        </div>
        
        <div class="col-sm-4 social-icons">
          <div class="footer-title">JOIN OUR COMMUNITY</div>
          <hr>
          <div class="row">
            <a href="http://www.facebook.com/itnamerica"><div class="col-sm-3 social-icon-border fb">
              <i class="fa fa-facebook"></i>
            </div></a>
            <a href="http://www.twitter.com/itnamerica"><div class="col-sm-3 social-icon-border tw">
              <i class="fa fa-twitter"></i>
            </div></a>
            <a href="http://www.youtube.com/itnamerica"><div class="col-sm-3 social-icon-border yt">
              <i class="fa fa-youtube"></i>
            </div></a>
            <a href="http://www.instagram.com/itnamerica"><div class="col-sm-3 social-icon-border in">
              <i class="fa fa-instagram"></i>
            </div></a>
          </div>
        </div>
        
        <div class="col-sm-4">
          <div class="footer-title">SEARCH</div>
          <hr>
          <form class="navbar-form navbar-left">
            <span class="form-group row">
              <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Search">
              </div>
              <div class="col-sm-2">
                <button type="submit" class="btn btn-default btn-search">
                  <i class="fa fa-search"></i>
                </button>
              </div>
            </span>
          </form>
        </div>
        
    </div>
  </div><!-- END FOOTER -->
  
  </div>
  
</div>
  <script src="../app.js"></script>
</body>
</html>
