    
    <div class="faq">
      <div class="jumbotron section .first-hero" id="first-hero-faq">
        <h1>FAQ</h1>
      </div>
      
      <div class="container questions-list">
        <h2 style="margin-bottom:25px;color:white">Frequently Asked Questions</h2>
        <div class="col-sm-6">
          <ul>
            <li><a href="#what-is-itn">What is the Independent Transportation Network®?</a></li>
            <li><a href="#service-for">What do ITN<em>Lanier</em> members use the service for?</a></li>
            <li><a href="#transporation-ss">What is Transportation Social Security™?</a></li>
            <li><a href="#road-scholarship">What is the Road Scholarship Program™?</a></li>
            <li><a href="#cartrade">What is CarTrade™?</a></li>
            <li><a href="#gift-certificate">What are ITN Gift Certificates?</a></li>
            <li><a href="#walk-for-rides">What is the Walk for Rides™?</a></li>
            <li><a href="#membership">What is included with ITN<em>Lanier</em> membership?</a></li>
          </ul>
        </div>
        <div class="col-sm-6">
          <ul>
            <li><a href="#ride-services">What are Ride Services?</a></li>
            <li><a href="#car-donation">What is Car Donation?</a></li>
            <li><a href="#personal-transportation-account">What is a Personal Transportation Account™?</a></li>
            <li><a href="#family-membership-campaign">What is the Family Membership Campaign?</a></li>
            <li><a href="#public-funds">Why does ITN avoid using public funds for operating expenses?</a></li>
            <li><a href="#role">What role does ITN<em>America</em> play?</a></li>
            <li><a href="#what-is-affiliate">What is an ITN affiliate?</a></li>
            <li><a href="#open-affiliate">Are there plans to open an ITN<em>America</em> affiliate in my community?</a></li>
          </ul>
        </div>
      </div><!--container-->
      
      <!-- <div class="jumbotron section" style="background: #b3c9cd70"> -->
      <div class="jumbotron section qa-wrapper">
        <div class="container">
          <div class="qa" id="what-is-itn">
          <div class="question">What is the Independent Transportation Network®?</div>
          
          <div class="answer">
          <p>The Independent Transportation Network® (ITN), is the first and only national non-profit transportation system for America's aging population.</p>

          <p>Our ITN model creates an efficient and financially sustainable solution to the transportation needs of seniors and the visually impaired. As ITN Members, older people maintain their independence and their dignity. </p>
          
          <p>They:
            <ul>
              <li>continue to be part of the economic and social health of their communities</li>
              <li>feel empowered</li>
              <li>stay connected to family, friends and community</li>
              <li>remain valuable customers of area businesses help their adult children find relief from a daunting and complex problem</li>
            </ul>
          </p>
          </div>
          </div>

          <div class="qa" id="service-for">
          <div class="question">What do ITN<em>Lanier</em> members use the service for?</div>
          <div class="answer">
            <p>ITN<em>Lanier</em> understands that older people want to do much more than go to the doctor or the grocery store. For this reason, the service may be used for any purpose, without restriction, in an ITN<em>Lanier</em> service area. For example, ITN<em>Lanier</em> members often use the service to attend senior college, to get their hair done, to shop at the mall, and to go out on dates.</p>
          </div>
          </div>


          <div class="qa" id="transporation-ss">
          <div class="question">What is Transportation Social Security™?</div>
          <div class="answer">
            <p>Independent Transportation Network ® (ITN) volunteer drivers store transportation credits for their volunteer efforts. These credits may be used to plan for their own future transit needs or they may use these credits to help pay for rides for members of their family or for low income seniors through the Road Scholarship Program™. ITN transportation credits are honored at any ITN in the country.</p>
          </div>
          </div>

          <div class="qa" id="road-scholarship">
          <div class="question">What is the Road Scholarship Program™?</div>
          <div class="answer">
            <p>This is a program to help low income seniors pay for their rides.</p>
          </div>
          </div>

          <div class="qa" id="cartrade">
          <div class="question">What is CarTrade™?</div>
          <div class="answer">
            <p>Automobiles depreciate in value and when older people have vehicles they can no longer drive, the ITN CarTrade™ program helps them convert this depreciating capital asset into a fund to pay for their rides. In a way, CarTrade™ allows people to continue to benefit from their automobiles. Participation in CarTrade™ is a benefit of ITN membership, and there is no charge.</p>
          </div>
          </div>

          <div class="qa" id="gift-certificate">
          <div class="question">What are ITN Gift Certificates?</div>
          <div class="answer">
            <p>Adult children, family members and friends may give the gift of independence by purchasing an ITN gift certificate for the seniors they love. Buy a gift certificate here.</p>
          </div>
          </div>

          <div class="qa" id="walk-for-rides">
          <div class="question">What is the Walk for Rides™?</div>
          <div class="answer">
            <p>This walk-a-thon is an annual fundraising event for ITN affiliate communities across the country. Find an event near you.</p>
          </div>
          </div>

          <div class="qa" id="itn-membership">
          <div class="question">What is included with ITN<em>Lanier</em> membership?</div>
          <div class="answer">
            <p>Anyone may become an ITN Member, to support an affiliate in your community or to support the work of ITN<em>America</em>​, the national organization. In an ITN affiliate community for people 60 years of age and older (age eligibility varies by affiliate), and for people of any age with visual impairments, membership brings with it an opportunity to use the service in any ITN affiliate community across the country, a quarterly newsletter, an annual birthday credit of $5.00, free participation in the CarTrade™ program, as well as the satisfaction of knowing you are supporting a community based and dignified transportation solution for older people in your community. Sign up today, ride tomorrow!</p>
          </div>
          </div>

          <div class="qa" id="ride-services">
          <div class="question">What are Ride Services?</div>
          <div class="answer">
            <p>Community organizations such as churches, assisted living facilities, and health care providers may contract with ITN to provide transportation services for their members. Once a month, ITN sends a statement to the organization to pay for the rides that the members take. This is a way for community organizations to supplement the transportation services they already provide. Community organizations that participate in Ride Services also help to support the ITN affiliate organization.</p>
          </div>
          </div>

          <div class="qa" id="car-donation">
          <div class="question">What is Car Donation?</div>
          <div class="answer">
            <p>Members of the community may donate vehicles to ITN. Car Donation and CarTrade™ are the primary ways ITN acquires vehicles for service.</p>
          </div>
          </div>

          <div class="qa" id="personal-transportation-account">
          <div class="question">What is a Personal Transportation Account™?</div>
          <div class="answer">
            <p>The Personal Transportation Account™ is one of the core business innovations of the ITN system because it allows an ITN member to store transportation assets in various forms - either as a credit or as cash. Credits may be earned as a volunteer driver, by trading a car for rides through the CarTrade™ program, as a birthday credit, or as a referral credit. Cash may come from pre-payment, gift certificates, co-payments from participating merchants and healthcare providers, or from Ride Services accounts. ITN is a cashless system. Seniors who ride receive a statement once a month detailing the rides they have taken. Volunteer drivers also have personal transportation accounts to store their credits and receive statements detailing their accumulated balances.</p>
          </div>
          </div>

          <div class="qa" id="family-membership-campaign">
          <div class="question">What is the Family Membership Campaign?</div>
          <div class="answer">
            <p>This is an annual outreach event to the families of those who need or use ITN service. ITN asks the adult children or families of those who use the service to support the program by becoming members.</p>
          </div>
          </div>

          <div class="qa" id="public-funds">
          <div class="question">Why does ITN avoid using public funds for operating expenses?</div>
          <div class="answer">
            <p>ITN affiliate communities may use up to 50 percent public funds in the first 7 years or service. Because ITN does not want to compete with public transportation for scarce tax payer dollars, we seek to supplement public transportation by working directly with seniors, their families, and their communities to access private resources.</p>
          </div>
          </div>
          
          <div class="qa" id="what-is-affiliate">
          <div class="question">What is an ITN Affiliate?</div>
          <div class="answer">
            <p>ITN<em>America</em>​'s affiliates provide rides with door-to-door, arm-through-arm service to thousands of seniors nationwide. It's a truly innovative solution with unique programs that allow older people to trade their own cars to pay for rides, and enable volunteer drivers to store transportation credits for their own future transportation needs.</p>
          </div>
          </div>
          
          <div class="qa" id="role">
          <div class="question">What role does ITN<em>America</em> play?</div>
          <div class="answer">
            <p>ITN<em>America</em> provides support to affiliates, including looking for new affiliate locations. With our uniquely built ITNRides software and our skilled members of staff here at ITN<em>America</em> headquarters we provide support to get an affiliate up and running then support them for continued success.</p>
            </div>
            </div>

          <div class="qa" id="open-affiliate">
          <div class="question">Are there plans to open an ITN<em>America</em> affiliate in my community?</div>
          <div class="answer">
            <p>ITN<em>America</em> works with organizations and individuals to help develop dignified and sustainable transportation in communities across the country. We welcome interest from all organizations, non-profits or private individuals.</p>
          </div>
          </div>
        
        </div><!--container-->
      </div><!--jumbo-->
      
    </div>
