<div class="homepage">
  
<div class="hp-carousel">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
<!-- Indicators -->
<ol class="carousel-indicators">
<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
<li data-target="#myCarousel" data-slide-to="1"></li>
<li data-target="#myCarousel" data-slide-to="2"></li>
<li data-target="#myCarousel" data-slide-to="3"></li>
</ol>

<!-- Wrapper for slides -->
<div class="carousel-inner">
<div class="item active">
  <img src="images/volunteer-help.jpg" alt="Volunteer Help">
  <h2 class="carousel-statement">
    Help seniors to keep their independence, while earning ride credits for yourself or a loved one.
  </h2>
</div>

<div class="item">
  <img src="images/seniors-social-coffee.jpg" alt="Coffee">
  <h2 class="carousel-statement">
    With your support, we can help families stay connected and friendships endure.
  </h2>
</div>

<div class="item">
  <img src="images/ITNLanier_mirror.jpg" alt="Mirror">
  <h2 class="carousel-statement">
    ITNLanier offers rides to seniors and the visually impaired across Gainesville, Georgia
  </h2>
</div>

<div class="item">
  <img src="images/GaryLawrence.png" alt="Mirror">
  <h2 class="carousel-statement">
    Watch this video and learn why ITNLanier is needed in Hall County
  </h2>
</div>
</div>

<!-- Left and right controls -->
<a class="left carousel-control" href="#myCarousel" data-slide="prev">
<span class="glyphicon glyphicon-chevron-left"></span>
<span class="sr-only">Previous</span>
</a>
<a class="right carousel-control" href="#myCarousel" data-slide="next">
<span class="glyphicon glyphicon-chevron-right"></span>
<span class="sr-only">Next</span>
</a>
</div>
</div><!--CAROUSEL-->

<div class="jumbotron section hp-first">
  <h2 style="font-size:35px">Because life means going places, no matter your age.</h2>
  <div class="features">
    <div class="col-md-4">
      <a href="views/member-app.html">
        <div class="feature-icon" style="background: #529ba8">
          <i class="fa fa-car"></i>
        </div>
      </a>
      <h6>Ride with us</h6>
      <div class="feature-description">
        Some characteristics our service:<br>
        Arm-through-arm, door-through-door dignified transportation<br>
        Affordable fares<br>
        No money exchanged in the vehicle<br>
        Tips not accepted<br>
      </div>
    </div>
    <div class="col-md-4">
      <a href="views/volunteer-to-drive.html">
        <div class="feature-icon" style="background: #e05944">
          <i class="fa fa-heart"></i>
        </div>
      </a>
      <h6>Volunteer to drive</h6>
      <div class="feature-description">
        Volunteer at ITNLanier and receive the following benefits:
        <br>
        Make a difference in someone’s life<br>
        See the face and hear the voice of the person you are helping<br>
        Meet other community-minded people<br>
        Learn community history from the people who lived it<br>
      </div>
    </div>
    <div class="col-md-4">
      <a href="views/pay-online.html">
        <div class="feature-icon" style="background: #529ba8">
          <i class="fa fa-dollar"></i>
        </div>
      </a>
      <h6>Make a payment</h6>
      <div class="feature-description">
        ITNGateway makes it easy to manage your transportation finances: No cash ever changes hands during ITN rides, and there is no tipping. All transactions are managed via personal transportation account, replenishable through PayPal.
      </div>
    </div>
  </div>
</div><!--FEATURES-->

<div class="jumbotron section mission">
  <div class="container">
    <h1 style="font-size: 50px">Mission</h1>
    <h4>The mission of ITNLanier is to provide a community-based, and community supported, economically viable and consumer-oriented, quality transportation service for seniors.</h4>
  </div>
</div><!--MISSION-->

<div class="jumbotron section progress container">
  <div class="container">
    <h1>Our Progress</h1>
    <div class="row progress-steps">
      <div class="col-sm-4">
        <div class="numbers">45,573</div>
        Rides given
      </div>
      <div class="col-sm-4">
        <div class="numbers">258,366 </div>
        Miles driven
      </div>
      <div class="col-sm-4">
        <div class="numbers">443</div>
        Rider
      </div>
    </div><!--ROW-->
    
  </div>
  <!--CONTAINER-->
</div><!-- PROGRESS-->

<div class="jumbotron section rider-stories">
  <div class="container section-content">
    <h2>Unique Rider Stories</h2>
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-4 rider-stories-text">            
        <h4>Ellie wants to know how much she should tip the driver, who says "No thank you. You owe me nothing." <br>
        Initially Ellie tries to argue because she just tipped the "girl" who did her hair, but the driver reassures her that no tip is required.</h4>
        
          -Written by Nancy McCormick <br>
        (ITNCoastalCT)
        
        <p>
          <a href="views/rider-stories.html" class="btn btn-primary btn-lg mt-25">READ MORE</a>
        </p>
        

      </div>
      <div class="col-lg-4 rider-stories-text">
        <h4>Recently, ITNMontereyCounty had a member sign on who needed the service only for a couple of months while he recovered from open heart surgery. <br>
        Robert needed us three times a week to get to and from his cardiac rehab appointments. Though this was a temporary thing for him, he was moved by how much it impacted his life.</h4>
        
          -Written by Samantha Kelley <br>
        (ITNMontereyCounty)
        
        <p>
          <a href="views/rider-stories.html" class="btn btn-primary btn-lg mt-25">READ MORE</a>
        </p>
        
      
      </div>
      <div class="col-lg-2"></div>
      
    </div>
  </div>
</div>

<div class="jumbotron section regeneron">
  <div class="container section-content">
    <h2>Regeneron and ITNAmerica</h2>
    <div class="row">
      <div class="col-sm-9 reg-text">
        ITNAmerica is proud to recognize Regeneron Pharmaceuticals, Inc. as a corporate sponsor committed to helping raise awareness of the challenges associated with vision impairment, low vision, senior mobility issues and the shortage of locally-available transportation options for seniors. As the National Pharmaceutical Eye-care Services Sponsor for ITNAmerica and our affiliate communities, Regeneron Pharmaceuticals is proud to support ITN's mission to promote safe senior mobility. 
      </div>
      <div class="col-sm-3 reg-img">
        <img src="images/regeneron_logo.jpg" alt="regeneron logo" style="width: 300px"/>
      </div>
    </div>
  </div>
</div>