
    <div class="news">
      
    <div class="jumbotron section first-hero">
      <h1>News</h1>
    </div><!--first-hero-->
    
    <div class="jumbotron section news-content row">
      
      <a href="http://pressroom.itnamerica.org/category/itnlanier/">
        <div class="pressroom col-sm-6 row">
          <div class="col-sm-6 pressroom-image">
            <img src="../assets/images/icons/news-noword2.png" alt="newspaper icon"/>
            <ul style="">
              <li><a href="http://pressroom.itnamerica.org/category/itnlanier/">Pressroom Blog</a></li>
            </ul>
          </div><!--pressroom-image-->
          <div class="col-sm-6 pressroom-title"><h3>Pressroom</h3></div>
        </div><!--pressroom-->
      </a>
      
      <div class="newsletter col-sm-6 row">
        <div class="col-sm-6 newsletter-content" style="white-space: nowrap">
          <img src="../assets/images/icons/news-noword.png" alt="press icon"/>
          <ul style="">
            <li><a href="http://itnlanier.org/sites/default/files/newsletters/ITNLanier_Newsletter_March_2017.html">Newsletter March 2017</a></li>
            <li><a href="http://itnlanier.org/sites/default/files/newsletters/NewsletterDecember2016.html">Newsletter December 2016</a></li>
            <li><a href="http://itnlanier.org/sites/default/files/newsletters/NewsletterJuly2016.html">Newsletter July 2016</a></li>
            <li><a href="http://itnlanier.org/sites/default/files/newsletters/NewsletterNovember2015.html">Newsletter November 2015</a></li>
        </ul>
        </div><!--newsletter-content-->
        <div class="col-sm-6 newsletter-title"><h3>Newsletters</h3></div>
      </div><!--newsletter-->
      
    </div><!--news-content-->
    
  </div><!--news-->