
    <div class="contact non-rider">
      
    <div class="jumbotron section" id="first-hero-rider">
      <h1>Membership Form (Non-Rider)</h1>
    </div><!--first-hero-->
    
    <div class="jumbotron section" style="background: #c7dfe4">
      
      <div class="container">
        <h3>Want to support our work but aren’t a rider? Become a non-riding member. Help keep your community safe, vibrant and inclusive of all its members.</h3>
        <hr align="center">
        
        <div class="col-sm-12">
            <div class="form-area" style="background: #c7dfe4;border:none">  
                  <form action="mailto:info@itnlanier.org" method="post" enctype="text/plain" role="non-rider membership form">
                <br style="clear:both">
                            <h3 style="margin-bottom: 25px; text-align: center;color:white">Membership Form (Non-Rider)</h3>
                  <div class="row">
              			<div class="form-group col-sm-6">
          						<input type="text" class="form-control" id="first-name" name="first-name" placeholder="First Name*" required>
          					</div>
                    <div class="form-group col-sm-6">
                      <input type="text" class="form-control" id="last-name" name="last-name" placeholder="Last Name*" required>
                    </div>
                  </div>
                  <div class="row">
              			<div class="form-group col-sm-6">
                    <input type="text" class="form-control" id="address-1" name="address-1" placeholder="Address 1" required>
                  </div>
                  <div class="form-group col-sm-6">
                    <input type="text" class="form-control" id="address-2" name="address-2" placeholder="Address 2" required>
                  </div>
                  </div>
                  <div class="row">
              			<div class="form-group col-sm-6">
                    <input type="text" class="form-control" id="city" name="city" placeholder="City" required>
                  </div>
                  <div class="form-group col-sm-6">
                    <input type="text" class="form-control" id="state" name="state" placeholder="State" required>
                  </div>
                </div>
                  <div class="row">
              			<div class="form-group col-sm-6">
                    <input type="text" class="form-control" id="zip" name="zip" placeholder="Zip Code" required>
                  </div>
                  <div class="form-group col-sm-6">
                    <input type="text" class="form-control" id="phone" name="phone" placeholder="Phone Number" required>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-sm-6">
        						<input type="text" class="form-control" id="email" name="email" placeholder="Email" required>
        					</div>
                  <div class="form-group col-sm-6">
                    <input type="text" class="form-control" id="email-confirmation" name="email-confirmation" placeholder="Email Confirmation" required>
                  </div>
                  </div>

                  <div class="form-group">
                  <textarea class="form-control" type="textarea" id="message" placeholder="Message" maxlength="140" rows="7"></textarea>
                      <span class="help-block"><p id="characterLeft" class="help-block ">You have reached the limit</p></span>                    
                  </div>
                    
                <!-- <button type="button" id="submit" name="submit" class="btn btn-primary pull-right">Submit Form</button> -->
                <input type="submit" id="submit" class="btn btn-primary pull-right itn-green-bg" value="Send" style="margin-left:2%">
                <input type="reset" class="btn btn-primary pull-right itn-green-bg" value="Reset">
                
                </form>
            </div>
          </div>
        </div>
      
    </div><!--jumbo-->
    
  </div><!--contact-->
  
  <script>
  $(document).ready(function(){ 
    $('#characterLeft').text('140 characters left');
    $('#message').keydown(function () {
        var max = 140;
        var len = $(this).val().length;
        if (len >= max) {
            $('#characterLeft').text('You have reached the limit');
            $('#characterLeft').addClass('text-danger');
            $('#submit').addClass('disabled');            
        } 
        else {
            var ch = max - len;
            $('#characterLeft').text(ch + ' characters left');
            $('#submit').removeClass('disabled');
            $('#characterLeft').removeClass('red');            
        }
    });    
});

  </script>
