
    <div class="organization">
      <div class="jumbotron section .first-hero" id="first-hero-org">
        <h1>Organization</h1>
      </div><!--first-hero-->
        
        
        
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" href="#board">Board of Directors</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#start">Start an ITN in your community</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#staff">Staff</a>
          </li>
        </ul>
      
      
      <div class="section-container">
      <div class="container itn-green-bg">
      <section class="org-section" id="board">
        <h1>BOARD OF DIRECTORS</h1>
        <div class="row mb-100">
          <div class="col-sm-4">
            <img src="../assets/images/board/Jerry_Butler.png" alt="Jerry Butler Portrait"/>
            <h2>Jerry Butler</h2>
            <p class="title">Chair and Treasurer</p>
            <button type="button" class="btn btn-lg" ng-click="showBoardBio1 = !showBoardBio1">READ MORE</button>
            
            <div class="showBoardBio" ng-show="showBoardBio1">
              <p>Jerry L. Butler is a retired technology executive from the computer and communications industry.  He spent his career forming and building high performance teams to conceive and develop innovative products.  <br> He recently retired from NCR Corporation and has lead engineering teams at large as well as new start-up companies.  He is an electrical engineering graduate of Georgia Tech.</p>
            </div>
          </div>
          
          <div class="col-sm-4">
            <img src="../assets/images/board/Kathy_Oates.jpg" alt="Kathy Oates portrait"/>
            <h2>Kathy K. Oates</h2>
            <p class="title">Secretary</p>
            <button type="button" class="btn btn-lg" ng-click="showBoardBio2 = !showBoardBio2">READ MORE</button>
            
            <div class="showBoardBio" ng-show="showBoardBio2">
              <p>Kathy Kirkpatrick Oates is a retired Special Education teacher.  Now she supervises student teachers for UNG part time.  She is a native of Gainesville who enjoys volunteering at the NEGA Medical Center and NEGA History Center.  Her family has deep roots in Gainesville and she is glad to have more time now to give back to her community.  <br> After being very involved with her late mother’s care, she knows firsthand what is needed for transporting seniors who need drivers.  Kathy is married to Richard and they have 2 grown sons.  More importantly, they have grand twins–identical toddler boys.</p>
            </div>
          </div>
          
          <div class="col-sm-4">
            <img src="../assets/images/board/Julia_Greene.jpg" alt="Julia Greene portrait"/>
            <h2>Julia K. Greene</h2>
            <p class="title">Board Member</p>
            <button type="button" class="btn btn-lg" ng-click="showBoardBio3 = !showBoardBio3">READ MORE</button>
            
            <div class="showBoardBio" ng-show="showBoardBio3">
              <p>Julia K. Greene joined Stewart Melvin & Frost in January of 2014, concentrating her practice in family law and civil litigation. She received her undergraduate degree from Agnes Scott College and her law degree from the University of Georgia School of Law. She began her law career in 2005 as the staff attorney for the Honorable Kathlene F. Gosselin, Judge of the Superior Courts of Hall and Dawson Counties. As a staff attorney, Julia worked on all areas of civil litigation, domestic matters and criminal cases.</p>

              <p>Julia is active in the community currently serving on the Quinlan Visual Arts Center board and she is a member of the Grace Episcopal Church Vestry. She is the Past-President of the Junior League of Gainesville-Hall County. She was a member of the Leadership Hall County class of 2008-2009. She is a member of the Orr Inn of Court, having previously served as secretary-treasurer. She previously has served on the Agnes Scott Alumnae Board, Habitat for Humanity Woman Build Board, North Georgia AIDS Alliance, the Northeast Georgia Speech Center and as President of the Lakeview Academy Alumni Association.</p>
            </div>
          </div><!--col-sm-4-->

        </div><!--row-->
        
        
        <div class="row mb-100">
          <div class="col-sm-4">
            <img src="../assets/images/board/emily_mccord.jpg" alt="Emily McCord portrait"/>
            <h2>Emily McCord, LMFT</h2>
            <p class="title">Board Member</p>
            <button type="button" class="btn btn-lg" ng-click="showBoardBio4 = !showBoardBio4">READ MORE</button>
            
            <div class="showBoardBio" ng-show="showBoardBio4">
              <p>Emily joined the Kimbrough Law Firm in 2016. Originally from Georgia, Emily completed her undergraduate degree at the University of Georgia and her Masters in Marriage and Family Therapy from Mercer University School of Medicine. For several years, Emily worked as a counselor at Medical Center of Central Georgia for the Palliative Care Team. She also served as a counselor for the Psychiatric Unit of Coliseum Hospital.</p>

              <p>Emily began her career in Elder Care Coordination in 2011 when she joined a firm in Nashville, Tennessee. Emily has a passion for improving quality of life. She spends her time at Kimbrough Law Firm working with the client, families, and the team to develop a plan of care that will maximize the client’s independence while coordinating and advocating for the most comprehensive care available.</p>
            </div>
          </div>
          
          <div class="col-sm-4">
            <img src="../assets/images/board/Patrick_ORouke.jpg" alt="Patric ORouke portrait"/>
            <h2>Patrick O’Rouke</h2>
            <p class="title">Board Member</p>
            <button type="button" class="btn btn-lg" ng-click="showBoardBio5 = !showBoardBio5">READ MORE</button>
            
            <div class="showBoardBio" ng-show="showBoardBio5">
              <p>Patrick O’Rouke is a Fisheries Biologist with Georgia Power.  As part of Georgia Power’s Environmental Affairs department, he is responsible for fisheries and compliance issues across the state related to company operations.  Prior to joining Georgia Power, he was the biologist responsible for managing Lake Lanier for the Georgia Department of Natural Resources. <br> Patrick and his wife, Tate, have been living in Hall County since 2011 and in 2014 welcomed twin sons, Wright and Benson.  Patrick is a member of Grace Episcopal Church and a 2013-2014 graduate of Leadership Hall County.  He currently serves on the Youth Leadership Hall County Planning Team.  Patrick is a native of Sugar Hill, GA and holds a BSFR from the University of Georgia and a MS from the University of Florida.<p>
            </div>
          </div>
          
          <div class="col-sm-4">
            <img src="../assets/images/board/Keith_Guernsey.jpg" alt="Keith Guernsey portrait"/>
            <h2>Keith Guernsey</h2>
            <p class="title">Board Member</p>
            <button type="button" class="btn btn-lg" ng-click="showBoardBio6 = !showBoardBio6">READ MORE</button>
            
            <div class="showBoardBio" ng-show="showBoardBio6">
              Keith D. Guernsey is retired after a 40 year career in sales and sales management with Data General, Cahners Publishing, Motorola and Comcast. He lives on Lake Lanier with his wife Susan and four-footed son Harley. He is the author of two popular, successful books. He is currently working with Meals on Wheels and the Cresswind Performing Arts Club. He is honored to have been elected to the board of directors of ITN<em>Lanier</em>. He enjoys reading, writing and traveling with his family.
            </div>
          </div><!--col-sm-4-->

        </div><!--row-->
        
        <div class="row">
          <div class="col-sm-4">
            <img src="../assets/images/board/jeff_rock.jpg" alt="Jeff Rock portrait"/>
            <h2>Jeff Rock</h2>
            <p class="title">Board Member</p>
            <button type="button" class="btn btn-lg" ng-click="showBoardBio7 = !showBoardBio7">READ MORE</button>
            
            <div class="showBoardBio" ng-show="showBoardBio7">
              Jeff Rock and his wife Nancy have been residents of Hall County for the past five years. Jeff recently retired from Acts Retirement-Life Communities, where he served as the executive director of Lanier Village Estates, a Continuing Care Retirement Community serving six-hundred seniors on the campus located in Gainesville, GA. Jeff has been employed in the senior housing industry for the past forty-three years.

              Jeff has been involved with ITN<em>Lanier</em> since 2013 serving as a member of the Advisory Council and also serves as a volunteer driver with ITN<em>Lanier</em>. Jeff serves on the Hall County Council on Aging Board of Directors and also serves on the Northeast Georgia Health System Advisory Board.
            </div>
          </div>
        </div><!--row-->
      </section>
    
      <section class="org-section" id="start">
        <img class="itn-icon" src="../assets/images/icons/itn2.jpg" alt="ITN icon"/>
        <div class="jumbotron section copy itn-lightgreen-bg">
          <div class="row center-70">
            <div class="col-sm-9">
              <a class="start-itn" href="https//www.itnamerica.org">Start an ITN in your Community</a>
            </div>
            <div class="col-sm-3">
              <img style="height:150px" src="../assets/images/start-bird.jpg"/>
            </div>
            </div>
        </div><!--jumbo-->
          
        <div class="jumbotron section national">
            <div class="row">
              <div class="col-sm-9" style="background: rgba(255,255,255,0.6);">
                <!-- <h2>The Power of a National Network</h2> -->
                  <p>ITN<em>Lanier</em> is part of the ITN<em>America</em> family, which unites organizations across the country working to support the transportation needs of older people. The ITN<em>America</em> model offers a platform for dignified, sustainable mobility using technological solutions and innovative programming. We welcome your interest, and hope you will consider the benefits of having an ITN affiliate in your area. <br>
                  To learn more,<a href="contact.html">contact us </a></p>
              </div><!--national-->
            </div><!--row-->
          </div><!--national-->
            
            <!-- <div class="jumbotron section technology">
            <div class="row">
              <div class="col-sm-offset-3 col-sm-9" style="background: rgba(255,255,255,0.6);">
                <h2>The Power of Technology</h2>
                <p>Our proprietary ITNRides™ software system enables us to leverage our expertise and to simplify operations for all our affiliates.</p>

                <p>It connects every ITN affiliate community into one effective centralized national network that manages the logistics of the senior transportation service, including member and volunteer management and ride scheduling.</p>

                <p>All ITN affiliates access the software through an internet connection and store their information at our secure data center. The collected data is used for a variety of purposes; including helping social researchers better understand senior mobility and its effects on society. ITN technology provides everything needed to deliver logistical efficiency to a very complex problem.</p>

                <p>ITN is quickly linking cities and citizens across the country and that's just the beginning. Soon, ITN will grow beyond the cities and suburbs to the small towns and rural communities where the unmet need is so great. Our goal is to provide the expertise, tools and state-of-the-art technology that will allow small organizations to serve more and more people without additional resources or funds. We call this project ITNEverywhere</p>
              </div>
            </div>
        </div> -->
          </section>

          <section class="org-section" id="staff"><h1>Staff</h1></section>
        </div><!--container-->  
    
      </div><!--lightgreen div-->
    </div><!--organization-->

  <!-- <script>
      function readMore(divId) {
        var content = document.getElementById(divId);
        console.log(content);
        // var buttonText = content.nextElementSibling.nextElementSibling.nextElementSibling.innerText;
        if (content.style.display === "none") {
            content.style.display = "block";
            // content.nextElementSibling.nextElementSibling.nextElementSibling.innerText = "READ LESS";
        } else {
            content.style.display = "none";
            // content.nextElementSibling.nextElementSibling.nextElementSibling.innerText = "READ MORE";
        }
    }
  </script> -->

