
    <div class="rider-stories">
      
      <div class="jumbotron section first-hero" id="first-hero-rider">
        <h1>Rider Stories</h1>
      </div>
      
      <div class="jumbotron section container" style="background:#fee5d173">
        
        <h3 class="intro">ITN<em>Lanier</em> provides dignified transportation, but it also does more. It builds relationships. Our drivers and riders develop friendships over the course of years. ITNLanier is not only about transportation, but also about maintaining independence and strengthening community ties for seniors and the visually impaired. <br>
        <a ui-sref="become-member">Join us. Become a member.</a></h3>
        
        <div class="cards-wrapper row">
          <div class="col-md-6">
            <div class="card">
              <img class="card-img-top" src="../assets/images/icons/senior.png" alt="rider photo">
                <h3>Nancy McCormick</h3>
                <h5>ITNCoastalCT</h5>
                <hr align="center">
              <div class="card-body">
                <!-- <h5 class="card-title">Card title</h5> -->
                <p class="card-text">
                  <p><i class="fa fa-quote-left" aria-hidden="true"></i> The driver goes up to Ellie's door every Friday at the same time. Ellie always greets her with a smile saying "Are you here for me? Let me just collect my things." The driver explains that she's there to take her to her hair appointment.</p>

                  <div id="nancyText" class="extra-text" style="display:none">
                    <p>Together they take the short ride to the hair salon where Ellie exclaims, "Why this is where I used to get my hair done!" The driver gently explains that that's why they're there! Then the driver escorts Ellie into the salon, making sure the receptionist knows that she's there and that someone will be coming to collect her in approximately 45 minutes. In 45 minutes the return ride driver shows up to take Ellie home.</p>

                    <p>Every week Ellie wants to know how much she should tip the driver, who says "No thank you. You owe me nothing." Initially Ellie tries to argue because she just tipped the "girl" who did her hair, but the driver reassures her that no tip is required. The rest of the ride home they talk about the weather, "how things used to be", or whatever doesn't require Ellie to come up with an answer to a question.</p>

                    <p>Ellie's family handles all the paperwork and scheduling, knowing that Ellie is in good hands. This is only one way that ITNCoastalCT is making a difference in the community.</p>
                  </div>
                    <i class="fa fa-quote-right pull-right" style="margin-top: -50px;" aria-hidden="true"></i> 
                </p>
                <button ng-click="readMore('nancyText')" class="btn btn-primary btn-lg mt-25">READ MORE</button>
              </div>
            </div><!--card-->
          </div><!--col-md-6-->
          
          <div class="col-md-6">
            <div class="card">
              <img class="card-img-top" src="../assets/images/icons/senior.png" alt="rider photo">
              <h3>Samantha Kelley</h3>
              <h5>ITNMontereyCounty</h5>
              <hr align="center">
              <div class="card-body">
                <!-- <h5 class="card-title">Card title</h5> -->
                <p class="card-text">
                  <p><i class="fa fa-quote-left" aria-hidden="true"></i> Recently, ITNMontereyCounty had a member sign on who needed the service only for a couple of months while he recovered from open heart surgery. Robert needed us three times a week to get to and from his cardiac rehab appointments. Though this was a temporary thing for him, he was moved by how much it impacted his life.</p>
                  
                  <div id="samText" class="extra-text" style="display:none">
                    <p>Deborah, one of our volunteer drivers and board members, runs a produce market through a local church. She picked Robert up one Wednesday and offered to take him there since it was on the way back to his house. That afternoon he called me, elated with his new discovery, and requested that I make sure that every Wednesday, he would get a driver that wouldn't mind taking him back to the market to shop and visit with Deborah.</p>

                    <p>So, I scheduled him with Bob, one of our shining volunteers. In their short trip after the produce market, Robert and Bob discovered they shared a common interest in restoring old cars. Five minutes later, they were in Roberts garage devising a plan of action for one of his projects. They have since become friends, which works out quite well because their garages are within walking distance of each other.</p>

                    <p>A couple of weeks ago I received a call from Robert after one of his appointments and he gave me the wonderful news that he had been cleared for driving. Then, he got choked up and said, "This has been such a wonderful service. It relieved me of so much worry... It has filled a hole in my life. I never expected to make a new friend and I plan on taking myself to the produce market every Wednesday from now on."</p>

                    <p>After the two of us got past our tearing up, Robert asked if he could donate whatever money was left in his Personal Transportation Account back to ITN. So naturally, I teared up again. We have only been in operation since January and it was so touching that our volunteers could make such a big impact in so little time.</p>
                    </div>
                    <i class="fa fa-quote-right pull-right" style="margin-top: -50px;" aria-hidden="true"></i> 
                </p>
                <button ng-click="readMore('samText')" class="btn btn-primary btn-lg mt-25">READ MORE</button>
              </div>
            </div><!--card-->
          </div><!--col-md-6-->
        </div><!--row-->
        
      </div><!--container-->
    </div><!--rider-stories-->
