    
    <div class="services">
      
    <div class="jumbotron section first-hero">
      <h1>What We Do</h1>
    </div>


    <div class="jumbotron section operate">
      <div class="container">
        <h2>Providing transportation to seniors and people with visual impairments in Georgia’s Gainesville area. </h2>
          <img src="../assets/images/gainesville.png"/>
        <!-- <h3>We operate within Gainesville, Georgia</h3> -->
      </div>
    </div><!--OPERATE-->
    
    <div class="jumbotron section jumbo-title">
      <h2>CHARACTERISTICS OF ITN SERVICE</h2>
    </div>
    
    <div class="jumbotron section" style="background:white;margin-bottom: -50px !important;">
      <div class="container service-features">
        
        <div class="row">
          <div class="col-sm-4">
            <div class="icon-wrap"><i class="fa fa-history" style="color: #399eaa"></i></div>
            <div class="icon-legend">
              Available 7 days a week, 24 hours a day for any purpose
            </div>
          </div>
          <div class="col-sm-4">
            <div class="icon-wrap"><i class="fa fa-id-card-o" style="color: #fc6d6d"></i></div>
            <div class="icon-legend">
              No money is exchanged in the vehicle, and riders pre-fund a personal transportation account
            </div>
          </div>
          <div class="col-sm-4">
            <div class="icon-wrap"><i class="fa fa-car" style="color: #399eaa"></i></div>
            <div class="icon-legend">
              Rides are provided in private automobiles by trained drivers, no vans or buses
            </div><!--icon-legend-->
          </div><!--col-sm-4-->
        </div><!--row-->
        
        <div class="row">
          <div class="col-sm-4">
            <div class="icon-wrap"><i class="fa fa-blind" style="color: #fc6d6d"></i></div>
            <div class="icon-legend">
              We welcome members that are 60 years and older or who have disabilities
            </div>
          </div>
          <div class="col-sm-4">
            <div class="icon-wrap"><i class="fa fa-clock-o" style="color: #399eaa"></i></div>
            <div class="icon-legend">
              Rides may be booked rides with discounts
            </div>
          </div>
          <div class="col-sm-4">
            <div class="icon-wrap"><i class="fa fa-users" style="color: #fc6d6d"></i></div>
            <div class="icon-legend">
              Riders may travel alone or with others, with 20% discounts for shared rides
            </div><!--icon-legend-->
          </div><!--col-sm-4-->
        </div><!--row-->
        
        <div class="row">
          <div class="col-sm-4">
            <div class="icon-wrap"><i class="fa fa-usd" style="color: #399eaa"></i></div>
            <div class="icon-legend">
              Community based affiliates are supported by private, rather than public resources
            </div>
          </div>
          <div class="col-sm-4">
            <div class="icon-wrap"><i class="fa fa-taxi" style="color: #fc6d6d"></i></div>
            <div class="icon-legend">
              ITNs are non-profit, keeping fares affordable
            </div>
          </div>
          <div class="col-sm-4">
            <div class="icon-wrap"><i class="fa fa-user-plus" style="color: #399eaa"></i></div>
            <div class="icon-legend">
              Not "just a taxi" - drivers provide arm-through-arm, door-to-door service and help with packages
            </div><!--icon-legend-->
          </div><!--col-sm-4-->
        </div><!--row-->
        
        <div class="row">
          <div class="col-sm-4">
            <div class="icon-wrap"><i class="fa fa-car" style="color: #fc6d6d"></i></div>
            <div class="icon-legend">
              The CarTrade™ program allows you to trade your car for rides
            </div><!--icon-legend-->
          </div><!--col-sm-4-->
          <div class="col-sm-4">
            <div class="icon-wrap"><i class="fa fa-hospital-o" style="color: #399eaa"></i></div>
            <div class="icon-legend">
              The HealthyMiles™ program allows businesses and health cares providers to participate
            </div>
          </div>
          <div class="col-sm-4">
            <div class="icon-wrap"><i class="fa fa-shopping-cart" style="color: #fc6d6d"></i></div>
            <div class="icon-legend">
              The Ride & Shop™ program allows you to receive discount rates at certain businesses
            </div><!--icon-legend-->
          </div><!--col-sm-4-->

        </div><!--row-->
      </div><!--jumbo-->
      
      
        
        <div class="jumbotron section red-section">
          <div class="container operating-radius">
            <h3>Call to find out if you live in our service area</h3>
            
            <p class="text-content">
              We are a membership-based organization. Our annual membership fee covers up to two members of the same household either over 60 years of age or adults with visual impairment 21 years and older.
            </p>
            <p>ITN<em>Lanier</em> provides its members with a unique rider service</p>
            
            <a ui-sref="contact"><button type="button" class="btn btn-info btn-lg">
              <i class="fa fa-angle-right"></i> Find Out More
            </button></a>
            
          </div><!--container-->
        </div><!--jumbo-section-->
        
        <div class="jumbotron section" style="background: #afcace">
          <div class="container dignified">
            
            <div class="row">
              <div class="col-sm-6 container-text">
                <h2>Dignified</h2>
                <p>The Independent Transportation Network® (ITN) is dedicated to providing dignified transportation. Older adults join ITN<em>Lanier</em> and become dues-paying members of an organization committed to their mobility. When they pick up the telephone to schedule a ride, they are not asking a favor. ITN<em>Lanier</em> is a nonprofit built to ease the transition from the driver's seat to the passenger seat.</p>
              </div>
              <div class="col-sm-6">
                <div class="img-circle"><img src="../assets/images/itn-people-images/granny-portrait.jpg" alt="ITN member portrait"/></div>
              </div>
            </div><!--row-->
            
            <div class="row">
              <div class="col-sm-6">
                <div class="img-circle"><img src="../assets/images/itn-people-images/man-fruits-portrait.jpeg" alt="ITN member portrait"/></div>
              </div>
              <div class="col-sm-6 container-text">
                <h2>Consumer Oriented</h2>
                <p>At ITN<em>Lanier</em>, we provide arm-through-arm, door-to-door service, a standard that sets us apart from taxis. And like using one's own automobile, ITN is available 24/7, offering customers the flexibility to schedule their rides in advance or as needed, as well as the option to ride alone or with others. Because our members aren’t just our riders, they’re also our customers.</p>
              </div>
            </div><!--row-->
            
          </div><!--container-->
        </div><!--jumbo-section-->

  </div><!--SERVICES-->
  